
.promo-container {
    background-image: url('../../../image/promo-banner.jpg');
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;

}

@media (max-width: 780px) {
    .promo-container {
        background-position: center;
    }
}

@media (max-width: 780px) {
    .promo-container button {
       margin: 0 auto;
    }
}